img{
	max-width: 250px;
}
form{
	border: solid 1px gray;
	padding: 10px;
}
input{
	margin: 10px;
}
button{
	background-color: rgba(255, 255, 255, 0);
	border: none;
}
#TVButtons{
	margin: 10px;
}
.showBtn{
	color: white;
	padding: 4px;
	background-color: gray;
	margin: 3px;
}